@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <div class="container">
    <div class="display-6">
        Click on <span class="bubble">Go to chat</span> button if you want to login/sign up and use the app
    </div>
    <br />
    <br />
    <div class="display-6">
        Want to see the current reviews? Click on <span class="bubble">Reviews</span> button
    </div>
    <br />
    <br />
    <div class="display-6">
        Click  <span class="bubble">Home</span> button if you want to return to this page
    </div>
    <br />
    <br />
    <br />
    <div>
        <h5 class="display-5">Please enjoy our <span class="bubble">Chat app</span></h5>
    </div>
    </div>
</div>
