html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background: #e6e6e6;
}

body {
    margin-bottom: 60px;
    background: #e6e6e6;
    overflow-y: scroll;
}
.card {
    background: #e6e6e6;
}
.link {
    color: black;
}
.link:hover {
    color: gray;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.form-control:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da
}
.btn:focus {
    outline: none !important;
    box-shadow: none;
    border-color: #ced4da
}
.image{
    border-radius: 7px;
}
.footer {
    position: absolute;
    bottom: 10px;
}
.bubble {
    background-color: white;
    padding: 12px;
    padding-top: 10px;
    border-radius: 7px;
    font-weight: 400;
}
.nav-item:hover {
    background-color: gainsboro;
    border-radius: 7px;
}
.display-6 {
    font-size: larger;
}
.display-5 {
    font-size: xx-large;
}
